*.csv filter=lfs diff=lfs merge=lfs -text
*.dta filter=lfs diff=lfs merge=lfs -text
*.numbers filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
.csv filter=lfs diff=lfs merge=lfs -text
*.nnumbers filter=lfs diff=lfs merge=lfs -text
2015/Neighborhood/2015.Arests.dta filter=lfs diff=lfs merge=lfs -text
2019/Neighborhood/2019-Arests.dta filter=lfs diff=lfs merge=lfs -text
2018/Health/2018_Hospital.csv filter=lfs diff=lfs merge=lfs -text
2018/Neighborhood/2018.Arests.dta filter=lfs diff=lfs merge=lfs -text
2017/Neighborhood/2017.Arests.dta filter=lfs diff=lfs merge=lfs -text
2016/Health/2016_Hospital.csv filter=lfs diff=lfs merge=lfs -text
2017/Health/2017_Hospital.csv filter=lfs diff=lfs merge=lfs -text
File[[:space:]]2016/Neighborhood/2016.Arests.dta filter=lfs diff=lfs merge=lfs -text
Allgemein/AccesstoJobsByTransitByAuto_V3_Jan2021.numbers filter=lfs diff=lfs merge=lfs -text
2019/Health/2019_Hospital.csv filter=lfs diff=lfs merge=lfs -text

